<div class=" container">
    <h5 class="p-1" style="background-color: rgb(181, 214, 204);"> Add a client</h5>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mt-2 mb-3">
            <label  class="form-label">Name</label>
            <input type="text" class="form-control w-25" formControlName="cname" id="name" placeholder="Enter name"
            [ngClass]="{'is-invalid': form['cname'].touched  && form['cname'].errors }">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control w-25" formControlName="email" id="email" placeholder="jane.doe@example.com"
                [ngClass]="{'is-invalid': form['email'].touched && form['email'].errors }">     
        </div>
        <div class="mb-3">
            <label  class="form-label">Password</label>
            <input type="password" class="form-control w-25" formControlName="pass" id="password" placeholder="..."
            [ngClass]="{'is-invalid': form['pass'].touched && form['pass'].errors }">
        </div>
        <div class="mb-3">
            <label  class="form-label">Re-enter Password</label>
            <input type="password" class="form-control  w-25" formControlName="repass" id="Repassword" placeholder="..."
            [ngClass]="{'is-invalid': form['repass'].touched && form['repass'].errors }">
        </div>
        <button type="submit" class="btn btn-primary" >Register</button>
    </form>
</div>


<div class="mt-4 container">
    <h4>Client list</h4>
    <table class="table table-success table-striped">
        <thead>
            <tr>
            <th>Name</th><th>Email</th><th>del</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clients; let i= index">
                <td>{{c.cname}}</td>
                <td>{{c.email}}</td>
                <button class="btn btn-danger" (click)="deleteclient(c.id)">delete</button>  
            </tr>
        </tbody>
    </table>   
</div>