<div class="container">
    <h5 style="background-color: rgba(177, 248, 224, 0.614);">Add a client</h5>
    <form action="submitt">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Jane Doe">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="jane.doe@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Re-enter Password</label>
            <input type="password" class="form-control" id="Repassword" placeholder="...">
        </div>
        <button type="submit">Register</button>
    </form>


</div>